table{
    border: 1px solid #48aae6;
}
tr{

    height: 50px;
    margin: 0;
}
td{

    width: 50px;
    height:50px;
    background-color: #48aae6;

}
#addButtonColumn, #addButtonRow, #minusButtonColumn, #minusButtonRow {
    position: absolute;

    height:50px;
    width: 50px;
    color: white;

    font: normal 25px Arial;
    text-align: center;
    cursor: pointer;

}
#addButtonColumn.height,#addButtonRow.height,#minusButtonColumn.height, #minusButtonRow.height{
    line-height: 50px;

}
#addButtonColumn{
    top:103px;
    right: 48px;
    background: rgb(243, 165, 0);
}
#addButtonRow{
    /*left:103px;*/
    left:28.2%;
    /*bottom: 48px;*/
    bottom: 15%;
    position: absolute;
    background: rgb(243, 165, 0);
    color: white;
}
#scene{
    position: relative;
    display: inline-block;
    padding:100px;
}
#minusButtonColumn{
    position: absolute;
    /*left:103px;*/
    /*left:5%;*/
    top:48px;
    background: rgb(178, 0, 0);
    transition: left 0.4s ease-out 0s;
}
#minusButtonRow{
    position: absolute;
    left:48px;
    top:103px;
    background: rgb(178, 0, 0);
    transition: top 0.4s ease-out 0s;
}
