table{
    border: 1px solid #48aae6;
}
tr{

    height: 50px;
    margin: 0;
}
td{

    width: 50px;
    height:50px;
    background-color: #48aae6;

}
#addButtonColumn, #addButtonRow, #minusButtonColumn, #minusButtonRow {
    position: absolute;
    height:50px;
    width: 50px;
    color: white;
    line-height: 20px;
    font: normal 43px Arial;
    text-align: center;
    cursor: pointer;
}
#addButtonColumn{
    top:103px;
    right: 48px;
    background: yellow;
}
#addButtonRow{
    left:103px;
    bottom: 48px;
    position: absolute;
    background: yellow;
    color: white;
}
#scene{
    position: relative;
    display: inline-block;
    padding:100px;
}
#minusButtonColumn{
    position: absolute;
    left:103px;
    top:48px;
    background: red;
}
#minusButtonRow{
    position: absolute;
    left:48px;
    top:103px;
    background: red;
}
